# dependencies
node_modules

# build outputs
dist
build
coverage

# logs
*.log

# environment files
.env
.env.*

# misc
.DS_Store
.idea
.vscode

# lock files (optional)
package-lock.json
yarn.lock
pnpm-lock.yaml